.projectsReport {
    display: flex;
    height: 100%;
    width: 97%;
    padding-left: 1%;
    padding-top: 1%;
}

.projectsReportContent{
    background-color: white;
    flex-grow: 1;
    border-radius: 10px;
    margin-right: 2%;
    padding: 1%;
}

.projectsList{
    width: 20%;
}

.progressBar{
    color:rgb(105, 208, 255);
    margin-bottom: 5%;
}

.redRow{
    background-color: rgb(255, 200, 200);
}

.greenRow{
    background-color: rgb(176, 255, 176);
}