.kanbanBoard{
    height: 100%;
    display: flex;
}

.columnContainer{
    background-color: rgb(212, 212, 212);
    margin: 1%;
    min-width: 200px;
    flex-shrink: 0;
    flex-grow: 1;
}

.columnTitle{
    text-align: center;
    background-color: rgb(192, 192, 192);
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
}

.columnContent{

}

.columnTitleText{

}
.columnTitleCount{

}

.task{
    background-color: rgb(252, 252, 252);
    min-width: 150px;
    max-width: 200px;
    min-height: 80px;
    border-radius: 5px;
    margin: 2%;
}

.draggable{
    background-color: rgb(233, 233, 233);
}