.login {
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 50px rgb(165, 165, 165);
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}

.login_data {

  display: flex;
  flex-direction: column;

}

p {
  text-align: center;
}